<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">List of Quotes</a></li>
                <li><a href="/admin/add-quote">Add a Peaky quote</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <% if (quotes.length > 0) { %>
            <h1>My Quotes</h1>
            <ul> 
                <% for (let quote of quotes) { %>
                    <li><%= quote.content %></li>
                <% } %>
            </ul>
        <% } else { %>
            <h1>No quotes found</h1>
        <% } %>
    </main>
</body>
</html>